name: Pyanalyze

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - uses: astral-sh/setup-uv@v6
      - name: Run
        run: PYTHONPATH=. uv run --python ${{ matrix.python-version }} -m pyanalyze --config-file pyproject.toml stubdefaulter/
